<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brook.ups.mapper.basic.UserMapper">

  <resultMap id="User" type="com.brook.ups.model.User"></resultMap>

  <sql id="Base_Column_List">
    id, appId, userName, password, name, isAvailable, optName, optDate
  </sql>

  <!--查询账户列表-->
  <select id="selectList" resultMap="User" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from ups_user
    <trim prefix="where" prefixOverrides="and">
      <if test="appId!=null" >
        and appId = #{appId,jdbcType=VARCHAR}
      </if>
      <if test="userName!=null" >
        and userName like CONCAT(CONCAT('%', #{userName,jdbcType=VARCHAR}), '%')
      </if>
      <if test="name!=null" >
        and name like CONCAT(CONCAT('%', #{name,jdbcType=VARCHAR}), '%')
      </if>
      <if test="isAdmin!=null" >
        and isAdmin = #{isAdmin,jdbcType=VARCHAR}
      </if>
      <if test="accountAppId!=null" >
        and appId = #{accountAppId,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>