<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brook.ups.mapper.user.TUserMapper">

	<resultMap type="com.brook.ups.model.user.Tuser" id="Tuser"></resultMap>
	
    <select id="findByUsers" parameterType="string" resultType="Tuser">
        select u.id,u.name,u.age,u.birthday,u.status,u.update_time from user u
    </select>
</mapper>
